# Inherit from root .npmrc
auto-install-peers=true
shamefully-hoist=true
strict-peer-dependencies=false

# EAS Build optimizations
# Use prefer-offline to speed up installs by using cached packages
prefer-offline=true

# Disable optional dependencies to speed up installs
optional=false
