# Auth
PUBLIC_MANA_CORE_AUTH_URL=http://localhost:3001
PUBLIC_MANA_CORE_AUTH_URL_CLIENT=http://localhost:3001

# Backend
PUBLIC_BACKEND_URL=http://localhost:3010
PUBLIC_BACKEND_URL_CLIENT=http://localhost:3010
