{
  "API_BASE_URL": "${API_BASE_URL}",
  "AUTH_URL": "${AUTH_URL}",
  "TODO_API_URL": "${TODO_API_URL}",
  "CALENDAR_API_URL": "${CALENDAR_API_URL}",
  "CLOCK_API_URL": "${CLOCK_API_URL}",
  "CONTACTS_API_URL": "${CONTACTS_API_URL}"
}
