---
import Layout from "./Layout.astro";

interface Props {
  title: string;
  description?: string;
  lang: string;
}

const { title, description, lang } = Astro.props;
---

<Layout title={title} description={description} lang={lang}>
  <main class="bg-background-page">
    <slot />
  </main>
</Layout>
